/* Poppins font link by google  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* roboto font family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* body {
   width: 1350px;
  height: 3306px;
  overflow: hidden; 
} */

header {
  width: 100%;
  height: auto;
  padding: 50px 120px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar ul {
  display: flex;
  gap: 34px;
}
.nav-bar li {
  list-style: none;
}
.nav-bar li a {
  text-decoration: none;
  color: #3a3a3a;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 600;
}

.title-primary {
  color: #3a3a3a;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-weight: 700;
}

/* Banner Section */
.banner {
  margin-top: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-text {
  font-size: 52px;
}

.description-primary {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
}

.btn-primary {
  padding: 10px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 41px;
  background: #e02c6d;
  border: none;
  margin-top: 16px;
}
.img-flued {
  width: 100%;
  height: auto;
}
/* Header Section Ends 
----------------------*/

/* Sponsor Section starts hare */
.sponsor-section {
  width: 100%;
  height: auto;
  padding: 50px 160px;
}

.sponsor-section img {
  margin-right: 30px;
  margin-left: 50px;
}

/* Popular Gallery section starts hare */
.popular-gallery-section {
  width: 100%;
  height: auto;
  padding: 50px 190px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: left;
  margin-top: 47px;
}

.gallery section {
  background-color: #ddd;
  border: 5px solid #fff;
  border-radius: 15px;
}

.gallery-text {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 6px;
}

.gallery-price {
  color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 6px;
}

.star {
  color: #fb8200;
  font-size: 13px;
}
.point {
  color: var(--gray-80, #5e6366);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
  margin-left: 10px;
}
.gallery-description {
  color: var(--Gray-50, #787885);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.252px;
  margin-bottom: 6px;
}

/* Featured Section starts hare*/
.featured-section {
  width: 100%;
  height: auto;
  padding: 50px 165px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.feature-title {
  font-size: 34px;
  color: #0a0826;
}

/* Footer section starts hare */
footer {
  width: 100%;
  height: 250px;
  padding: 50px 0px;
  margin-top: 100px;
  text-align: center;
  background: #0a0826;
}

footer img {
  text-align: center;
  margin-left: 15px;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}

.text {
  color: #fff;
  margin-bottom: 8px;
}
/* Responsive mobile version */
@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px;
  }
  .responsive {
    border: 15px solid purple;
    border-radius: 15px;
    padding: 0px 20px;
  }
  .nav-bar {
    flex-direction: column;
  }
  .img-flued {
    width: 100%;
    height: auto;
    /* width: 440px; */
  }

  /* Sponsor Section */
  .sponsor-section {
    width: 100%;
    height: auto;
    padding: 50px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
  .sponsor-section img {
    width: 80%;
    height: auto;
    margin: 0px auto;
  }
  /* Gallery Section Starts hare */
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .popular-gallery-section {
    width: auto;
    height: auto;
    padding: 25px;
    text-align: center;
  }
  img {
    margin-top: 20px;
  }
  .gallery-description {
    margin-bottom: 15px;
  }

  /* Featured Section Starts Hare */
  .featured-section {
    width: 100%;
    height: auto;
    padding: 20px;
    flex-direction: column;
  }

  .featured-img img {
    width: 100%;
    height: auto;
  }

  .responsive {
    border: 15px solid purple;
    border-radius: 15px;
    padding: 0px 20px;
  }
}

/* responsive laptop version 
----------------------------*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  .banner {
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px;
  }
  .img-flued {
    width: 100%;
    height: auto;
  }

  .responsive {
    border: 15px solid purple;
    border-radius: 15px;
    padding: 0px 20px;
  }

  /* sponsor section */
  .sponsor-section {
    padding: 50px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }

  .sponsor-section img {
    margin: 0px auto;
  }
  /* Gallery section starts hare */
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .popular-gallery-section {
    width: 100%;
    height: auto;
    padding: 25px;
    text-align: center;
  }

  /* Featured Section Starts Hare */
  .featured-section {
    width: 100%;
    height: auto;
    padding: 20px;
    flex-direction: column;
  }
}
